@charset "utf-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
}
#scorediv{
	font-size:180%;
	font-weight:bold;
	position:absolute;
	top:30%;
	left:46%;
	display:none;
	margin:0px auto;
	}	
label{
		color:#FFF;
	}